/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Accordions styles for Custom theme for ULPGC design by ateigh.com. v1.0
 *
 * ------------------------------- ateigh.com -------------------------------
 */
 .ulpgcds-accordion {
    margin: 8px 0 0 0;
    padding: 0; }
    .ulpgcds-accordion button {
      background: none;
      border: 0;
      color: #0066a1;
      cursor: pointer;
      padding-left: 12px;
      padding-right: 32px;
      display: inline-block;
      width: 100%;
      text-align: left;
      line-height: 2rem;
      font-size: 1.5rem;
      color: #565a5c;
      transition: all 0.2s ease-in-out; }
      .ulpgcds-accordion button[aria-expanded="true"] .ulpgcds-accordion__icon {
        margin-right: 0;
        padding-right: 12px; }
      .ulpgcds-accordion button[aria-expanded="false"] .ulpgcds-accordion__icon {
        margin-right: 0;
        padding-right: 12px; }
      .ulpgcds-accordion button .ulpgcds-accordion__icon {
        margin-right: 8px; }
      .ulpgcds-accordion button:hover {
        color: #ffa100; }
        .ulpgcds-accordion button:hover + div {
          border-color: #ffa100; }
      .ulpgcds-accordion button:active {
        color: #9C6609; }
        .ulpgcds-accordion button:active + div {
          border-color: #9C6609; }
    .ulpgcds-accordion > h3, .ulpgcds-accordion > h2 {
      margin-top: 0;
      transition: all 0.2s ease-in-out; }
    .ulpgcds-accordion > h2:after {
      content: none; }
    .ulpgcds-accordion > h3, .ulpgcds-accordion > h2, .ulpgcds-accordion .ulpgcds-accordion__dropdown {
      font-weight: 500;
      color: #0066a1;
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding-bottom: 16px;
      padding-top: 16px;
      transition: all 0.2s ease-in-out; }
      .ulpgcds-accordion > h3 + h3, .ulpgcds-accordion > h2 + h3, .ulpgcds-accordion .ulpgcds-accordion__dropdown + h3 {
        margin-top: 40px; }
      .ulpgcds-accordion > h3:hover + .ulpgcds-accordion__panel, .ulpgcds-accordion > h2:hover + .ulpgcds-accordion__panel, .ulpgcds-accordion .ulpgcds-accordion__dropdown:hover + .ulpgcds-accordion__panel {
        transition: all 0.2s ease-in-out;
        border-color: #ffa100; }
      .ulpgcds-accordion > h3:hover
      + div, .ulpgcds-accordion > h2:hover
      + div, .ulpgcds-accordion .ulpgcds-accordion__dropdown:hover
      + div {
        border-color: #ffa100; }
      .ulpgcds-accordion > h3:active + div, .ulpgcds-accordion > h2:active + div, .ulpgcds-accordion .ulpgcds-accordion__dropdown:active + div {
        border-color: #9C6609; }
    .ulpgcds-accordion.focus {
      border: 0;
      outline: none; }
    .ulpgcds-accordion button ::-moz-focus-inner {
      border: 0; }
    .ulpgcds-accordion__title {
      display: block;
      pointer-events: none;
      outline: none; }
    .ulpgcds-accordion__panel {
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #7fb2d0;
      transition: all 0.2s ease-in-out; }
    .ulpgcds-accordion .border-hover .ulpgcds-accordion__panel {
      border-color: #ffa100; }
      .ulpgcds-accordion .border-hover .ulpgcds-accordion__panel:active, .ulpgcds-accordion .border-hover .ulpgcds-accordion__panel:focus {
        border-color: #9C6609; }
    .ulpgcds-accordion .border-hover:active .ulpgcds-accordion__panel {
      border-color: #9C6609; }
    .ulpgcds-accordion .border-click .ulpgcds-accordion__panel {
      border-color: #9C6609; }
    .ulpgcds-accordion__content {
      padding: 0 32px 24px 48px;
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .ulpgcds-accordion__content[aria-hidden="true"] {
        display: none;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .ulpgcds-accordion__content p:first-child {
        margin-top: 0; }
    .ulpgcds-accordion--destroy button {
      background: none;
      padding-left: 0; }
      .ulpgcds-accordion--destroy button .ulpgcds-accordion__icon {
        display: none; }
    .ulpgcds-accordion--destroy .ulpgcds-accordion__panel {
      border: 0;
      padding: 0; }
    .ulpgcds-accordion--destroy .ulpgcds-accordion__content {
      padding: 0;
      display: block; }
    @media only screen and (max-width: 959px) {
      .ulpgcds-accordion > h3 {
        padding-top: 12px;
        padding-bottom: 12px; }
      .ulpgcds-accordion button {
        font-size: 1.125rem;
        line-height: 1.5rem;
        padding-left: 8px; }
        .ulpgcds-accordion button[aria-expanded="true"] .ulpgcds-accordion__icon {
          margin-right: 8px;
          padding-right: 0; }
        .ulpgcds-accordion button[aria-expanded="false"] .ulpgcds-accordion__icon {
          margin-right: 8px;
          padding-right: 0; }
      .ulpgcds-accordion .ulpgcds-accordion__content {
        padding-left: 32px; } }
    .ulpgcds-accordion + h2, .ulpgcds-accordion + h3 {
      margin-top: 24px; }
  